@import 'bulma/css/bulma.css';
@import './fonts/font.css';

/* Universal styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #242424;
    background-image: linear-gradient(45deg, #242424, #242424, #6e6e6e, #242424, #242424);
    background-attachment: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    font-family: 'jetbrains_monomedium';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
}

#root, .App {
    height: 100vh;
}

.padding {
    min-height: calc(100vh - 96px);
    margin: 0;
    padding-top: 75px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.title, .label, .box p {
    color: rgb(223, 223, 223);
}

/* Homepage styles */
#bodyImage {
    width: 200px;
    margin: auto;
}

.box {
    margin: auto auto;
    width: 85%;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 20px 25px rgb(27, 27, 27);
}

/* BackToTop button styles */
#backToTop {
    float: right;
    padding: 5px;
    position: fixed;
    right: -5px;
    bottom: 38px;
    overflow: visible;
    text-align: center;
    transition: all 0.75s;
    z-index: 1;
}

#topBtnText {
    margin-right: 5px;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

/* Hover effects for links and objects */
a:hover, .backToTop:hover {
    opacity: 0.85;
    transition: 0.75s;
}

.navbar-item:hover {
    color:rgb(98, 59, 134);
}

.backToTop:visited {
    opacity: 0;
}
