@keyframes fadeLeftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    50% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@keyframes fadeRightAnimation {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    60% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
     }
}

@keyframes fadeUpAnimation {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    75% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
     }
}