/* Contact styles */
#contactMe {
    max-width: 1200px;
    margin: auto;
}

#shake {
    margin-bottom: 25px;
}

#shake>svg {
    color: rgb(231, 231, 231);
}

#contact {
    min-height: calc(100vh - 196px);
    max-width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#contactPara {
    margin: 0px auto 25px;
    display: flex;
    flex-direction: column;
}

#contactPara>h5 {
    text-align: left;
    animation: fadeLeftAnimation ease 2s;
    animation-iteration-count: 1;
}

#contactPara>h6 {
    /* margin: auto auto; */
    text-align: right;
    animation: fadeRightAnimation ease 4s;
}

#linksBox{
    margin: auto auto 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    animation: fadeUpAnimation ease 5.5s;
    animation-iteration-count: 1;
}

#links {
    display: flex;
    flex-flow: row wrap;
}

#links>a {
    display: block;
    width: 100%;
    margin: 5px 10px;
}

#contactTab {
    min-width: 205px;
    display: flex;
    flex-direction: row;
    bottom: 0;
    transform: translateY(0px);
    transition: 0.3s ease-in-out;
}

#contactTab>div {
    margin-right: 10px;
    flex-basis: 25%;
}

#contactTab>p {
    flex-basis: 75%;
    align-self: center;
}

p, label {
    text-align: left;
}

label {
    position: relative;
    left: 10px;
}

input, textarea {
    border: 5px;
}

input.input, textarea.textarea {
    background-color: #333333;
    color: #d1d1d1;
}

input.input::placeholder {
    color:rgb(98, 98, 98);
}

.modal-content {
    top: 25px;
}

/* Effects */
#contactTab:hover {
    transform: translateY(-8px)
}

/* Media Queries */
@media only screen and (min-width: 35em) {
    #contact {
        max-width: 72vw;

    }#linksBox {
        margin: auto auto 20%;
    }
}

@media only screen and (min-width: 58em) {

    #links {
        flex-flow: row;
    }

    #linksBox {
        margin: auto 20%;
    }

    #contactTab {
        width: 22vw;
    }

}