/* Footer styles */
footer {
    background-color: rgb(27, 27, 27);
    position: relative;
    bottom: 0px;
    height: 96px;
    width: 100%;
    border-radius:8px 8px 0px 0px;
    padding: 12px;
    display: flex;
    flex-direction: row;
}

ul {
    max-width: 101px;
    border-right: 2px solid rgb(187, 187, 187);
    text-align: right;
}

li {
    font-size: 0.75rem;
    margin-right: 15px;
}

li a {
    color:rgb(187, 187, 187);
}

#footerSign {
    position: relative;
    top: 3px;
    height: 14px;
}

#footerTxt {
    margin: auto;
    text-align: center;
    line-height: 2;
    font-size: small;
}

#copyright {
    font-size: xx-small;
}

#icons {
    margin: auto 5px 0px;
    display: flex;
    flex-direction: column;
}

#icons>a>svg {
    color: #DFDFDF;
    font-size: 20px;
    margin: auto 5px;
    transition: 0.5s ease-in-out;
}

#icons>a>svg:hover {
    color:rgb(126, 80, 163);
}

/* Media Queries */
@media only screen and (min-width: 35em) {
    #icons {
        margin: 5px;
        flex-direction: row;
    }

    #icons>a {
        margin: auto;
    }

    #icons>a>svg {
        color: #DFDFDF;
        font-size: 28px;
        width: 28px;
        height: 28px;
        transition: 0.5s ease-in-out;
    }
}