/* Navbar styles */
.navbar {
    height: 50px;
    border-radius: 0px 0px 8px 8px;
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 10px 10px rgba(27, 27, 27, 0.781);
}

.navbar-item, .navbar-link {
    margin-top: 0px;
    color: white;
}

.navbar-dropdown {
    background-color:rgb(27, 27, 27);
}

.is-hoverable {
    background-color: rgb(27, 27, 27);
}

svg {
    width: 24px;
    height: 24px;
    color: #6e6e6e;
}

#emailIcon{
    margin-left: 32px;
}
#githubIcon{
    margin-left: 24px;
}
#linkedInIcon{
    margin-left: 15px;
}

#bodyContainer {
    margin-top: 90px;
}

/* Effects */


