/* Navbar styles */
.navbar {
    height: 50px;
    border-radius: 0px 0px 8px 8px;
    background-color: rgb(27, 27, 27) !important;
    box-shadow: 0px 10px 10px rgba(27, 27, 27, 0.781);
}

#navlogo > svg {
    margin: 5px;
    color: #DFDFDF;
}

.navbar-item, .navbar-link {
    margin-top: 0px;
    color: #DFDFDF;
}

.navbar-dropdown {
    background-color:rgb(27, 27, 27);
}

.is-hoverable {
    background-color: rgb(27, 27, 27);
}

.dropdownLink {
    display: flex;
    flex-flow: row;
    justify-content: right;
}

svg {
    width: 24px;
    height: 24px;
    color: #6e6e6e;
    margin-right: 0px;
}

#emailIcon{
    margin-left: 32px;
}
#githubIcon{
    margin-left: 24px;
}
#linkedInIcon{
    margin-left: 15px;
}

#bodyContainer {
    margin-top: 90px;
}

/* Effects */
.navbar-item:hover {
    background-color:#272727 !important;
}

.navbar-item:hover, .dropdownLink:hover {
    color:rgb(126, 80, 163) !important;
}

/* This changes only the text */

.navbar-link:hover {
    background-color:#272727 !important;
    color:rgb(126, 80, 163) !important;
}

